# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database & Uploads
database/
*.db
*.sqlite3

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker (Local overrides)
docker-compose.override.yml
credentials.json
client_secret_*.json
